* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
}
@media (max-width: 48rem) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  color: #484848;
  word-wrap: break-word;
  text-align: center;
  background-color: white;
  hyphens: auto;
}
body ::selection {
  background-color: #333;
  color: #fbfbfb;
}
a {
  text-decoration: none;
  color: #ff5a5f;
}
a:hover {
  text-decoration: underline;
}
nav {
  color: #ff5a5f;
  width: 48rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.nav-container {
  display: flex;
  align-items: center;
  padding-left: .4rem;
  padding-right: .4rem;
}
.menu {
  width: 100%;
  margin-top: 1.2rem;
}
.menu-item {
  font-size: 1rem;
  padding-right: 1rem;
}
.menu-uas a {
  color: #329af0;
}
.menu-nmhx a {
  color: #495057;
}
.menu-active {
  text-decoration: underline;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 48rem;
  color: #484848;
}
.whole-page {
  padding-left: .4rem;
  padding-right: .4rem;
  padding-bottom: 1.5rem;
}
#ext-wall {
  text-align: center;
}
#ext-name {
  padding-top: 8rem;
  font-size: 4rem;
}
#ext-desc {
  font-size: 2rem;
  margin: 2rem 0 4rem;
}
#ext-detail {
  font-size: 1rem;
  padding-bottom: 4rem;
  text-align: left;
  line-height: 2rem;
}
@media (max-width: 48rem) {
  nav {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .menu {
    margin-top: .8rem;
    margin-left: .8rem;
  }
  .menu-item {
    padding-right: .4rem;
  }
  #ext-name {
    font-size: 2.6rem;
  }
  #ext-desc {
    font-size: 1.2rem;
  }
  #ext-detail {
    padding: 0 1rem 4rem;
  }
}
#install {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.install-item {
  margin-left: .4rem;
  margin-right: .4rem;
  padding: 0.8rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #ff5a5f;
  border: 2px solid #ff5a5f;
  border-radius: 8px;
}
.install-item:hover {
  background-color: #ffffff;
}
.install-item a {
  color: #ffffff;
}
.install-item:hover a{
  color: #ff5a5f;
  text-decoration: none;
}
@media (max-width: 48rem) {
  #install {
    display: block;
  }
  .install-item {
    margin-bottom: 1rem;
  }
}
.project {
  margin-top: 2rem;
}
.review-item {
  margin: 3rem 0;
  overflow: hidden;
}
hr {
  width: 3rem;
}
.review-comment {
  font-size: 1.2rem;
  text-align: left;
  padding: 2rem 0;
}
.review-comment:first-letter {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: bold;
}
.review-author {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
}
.review-jobtitle {
  font-weight: normal;
  text-align: right;
  padding-top: .4rem;
}
@media (max-width: 48rem) {
  .review-comment {
    padding: 0 1rem;
  }
  .review-author {
    text-align: center;
    margin-top: 3rem;
  }
  .review-jobtitle {
    text-align: center;
  }
}
.page-title {
  font-size: 3.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.page-content {
  text-align: left;
}
footer {
  margin: 4rem 0;
  font-size: 1.2rem;
}
/* inline codes */
code.highlighter-rouge {
  background-color: #ddd;
  border-radius: .2rem;
  padding: .1rem .3rem .1rem .3rem;
}
img {
  max-width: 100%;
}
