      <nav>
        <div class="nav-container">
          <div class="menu">
            <span class="menu-item{% if page.url == "/index.html" %}{{" menu-active"}}{% endif %}"><a href="/">Home</a></span>
            <span class="menu-item{% if page.url == "/docs.html" %}{{" menu-active"}}{% endif %}"><a href="/docs.html">Docs</a></span>
            <span class="menu-item{% if page.url == "/changelog.html" %}{{" menu-active"}}{% endif %}"><a href="/changelog.html">Changelog</a></span>
            <span class="menu-item{% if page.url == "/about.html" %}{{" menu-active"}}{% endif %}"><a href="/about.html">About</a></span>
            <span class="menu-item menu-uas{% if page.url == "/URLAutoSplicer/" %}{{" menu-active"}}{% endif %}"><a href="/URLAutoSplicer/">URL Auto Splicer</a></span>
            <span class="menu-item menu-nmhx{% if page.url == "/no-more-headline-x/" %}{{" menu-active"}}{% endif %}"><a href="/no-more-headline-x/">No More HeadlineX</a></span>
          </div>
        </div>
      </nav>
